:root {
  /* fonts */
  --font-inter: Inter;
  --font-inherit: inherit;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 20px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
}
